* {
    color: black
}
body {
    background-color: rgb(76, 65, 91);
}
header {
    background-color: rgb(245, 165, 97);
}
.center {
    text-align: center;
}
.bg-img {
    background-image: url("https://t3.ftcdn.net/jpg/03/66/10/14/360_F_366101427_8yazUJK82fDrLi4YtpnQO3DJ4dTygxoe.jpg");
    background-size: cover;
}
.rm-bg {
    background:none;
}
textarea {
    background: none;
}
textarea::placeholder {
    color: black;
    opacity: 1;
}
.ft {
    display:none
}
footer {
    background-color: rgb(231, 224, 234);
}  