* {
    color: black
}
body {
    background-color: rgb(76, 65, 91);
}
header {
    background-color: rgb(245, 165, 97);
}
footer {
    background-color: rgb(231, 224, 234);
}  
.bg-img{
    background-image: url("https://t3.ftcdn.net/jpg/03/66/10/14/360_F_366101427_8yazUJK82fDrLi4YtpnQO3DJ4dTygxoe.jpg");
    background-size: cover;
}
textarea {
    background: none;
}
textarea::placeholder {
    color: black;
    opacity: 1;
}
.rm-bg {
    background:none;
}
.col-sm-2 {
    text-align: center;
}
.col-lg-4 {
    text-align: center;
}
  /* class="img-fluid" */
  /* <img src="https://t3.ftcdn.net/jpg/03/66/10/14/360_F_366101427_8yazUJK82fDrLi4YtpnQO3DJ4dTygxoe.jpg" alt="parchment" */
  /* <label for="wahExplain">Explain why you want to join the cult.</label>
  <br>
  <textarea id="wahExplain" name="wahExplain" cols="100">
  </textarea> */
